<?xml version="1.0"?>
<launch>
  
  <!-- show doc in command line: roslaunch tello_ai_ros camera_view.launch ——ros -->
  <arg name="ai" default="false" doc="enable or disable face_detector_node"/>
  <arg name="rqt" default="true" doc="enable or disable rqt gui"/>
  
  <!-- run camera node -->
  <node pkg="tello_ai_ros" 
        type="camera_node.py" 
        name="camera_node" 
        output="screen" >
  </node>
   
  <!-- run artificial intelligence if ai == true  -->
  <group if="$(arg ai)">
      <!-- remap /tello_view to /camera_view -->
      <node pkg="tello_ai_ros" 
            type="detector_node.py" 
            name="detector_node" 
            args="camera"
            output="screen" >
            <remap from="/tello_view" to="/camera_view"/>
            <rosparam command="load" file="$(find tello_ai_ros)/config/tello.yaml" />
      </node>
  </group>

  <!-- run rqt for ImageViewer and NodeGraph-->
  <group if="$(arg rqt)">
      <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> 
  </group>

</launch>
