<?xml version="1.0"?>
<launch>
  
  <arg name="mode" default="normal" doc="'normal', 'silent' or 'disabled'- mode"/>
  <arg name="view" default="tello" doc="'tello' or 'camera' - view"/>
  <arg name="rc" default="true" doc="enable or disable remote control (ds4)"/>
  <arg name="ai" default="true" doc="enable or disable face_detector_node"/>
  <arg name="rqt" default="true" doc="enable or disable rqt gui"/>

  <!-- run tello node ... -->
  <group if="$(eval arg('view') == 'tello')">
      <node pkg="tello_ai_ros" 
            type="tello_node.py" 
            name="tello_node" 
            args="$(arg mode)"
            output="screen" >
      </node>
  </group>
  
  <!-- ... or run camera node instead -->
  <group if="$(eval arg('view') == 'camera')">
      <node pkg="tello_ai_ros" 
            type="camera_node.py" 
            name="camera_node" 
            output="screen" >
      </node>

      <!-- and tello node if mode == disabled -->
      <group if="$(eval arg('mode') == 'disabled')">
            <node pkg="tello_ai_ros" 
                  type="tello_node.py" 
                  name="tello_node" 
                  args="$(arg mode)"
                  output="screen" >
            </node>
      </group>
  </group>
  
  <!-- run remote control if rc == true -->
  <group if="$(arg rc)">
      <!-- launch ds4_driver -->
      <include file="$(find ds4_driver)/launch/ds4_driver.launch" /> 

      <!-- run status_to_tello node -->
      <node pkg="tello_ai_ros" 
            type="status_to_tello.py" 
            name="status_to_tello" 
            output="screen" >
            <rosparam command="load" file="$(find tello_ai_ros)/config/status_to_tello.yaml" />
      </node>
  </group>
   
  <!-- run artificial intelligence if ai == true  -->
  <group if="$(arg ai)">

       <!-- run face_detector_node with /tello_view topic ... -->
      <group if="$(eval arg('view') == 'tello')">
            <node pkg="tello_ai_ros" 
                  type="detector_node.py" 
                  name="detector_node" 
                  args="$(arg view)"
                  output="screen" >
                  <rosparam command="load" file="$(find tello_ai_ros)/config/tello.yaml" />
            </node>
      </group>
      
      <!-- or remap /tello_view to /camera_view if view == 'camera' -->
      <group if="$(eval arg('view') == 'camera')">
            <node pkg="tello_ai_ros" 
                  type="detector_node.py" 
                  name="detector_node" 
                  args="$(arg view)"
                  output="screen" >
                  <remap from="/tello_view" to="/camera_view"/>
                  <rosparam command="load" file="$(find tello_ai_ros)/config/tello.yaml" />
            </node>
      </group>
  </group>

  <!-- run rqt for ImageViewer and NodeGraph-->
  <group if="$(arg rqt)">
      <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> 
  </group>

</launch>