<?xml version="1.0"?>
<launch>
  
  <arg name="mode" default="normal" doc="'normal', 'silent' or 'disabled'- mode"/>
  
  <!-- run tello controller with tell / camera view -->
  <group if="$(eval arg('mode') != 'disabled')">
    <include file="$(find tello_ai_ros)/launch/tello_controller.launch"  > 
      <arg name="view" value="tello" />
    </include>
  </group> 
  <group if="$(eval arg('mode') == 'disabled')">
    <include file="$(find tello_ai_ros)/launch/tello_controller.launch"  > 
      <arg name="view" value="camera" />
    </include>
  </group> 

  <!-- run tello node ... -->
  <node pkg="tello_ai_ros" 
        type="tello_node.py" 
        name="tello_node" 
        args="$(arg mode)"
        output="screen" >
  </node>

</launch>
