<?xml version="1.0"?>
<launch>

  <arg name="view" default="camera" doc="get video stream from 'tello' or 'camera"/>
  <arg name="detection" default="pose" doc="detection goal 'pose' or 'face"/>

  <!-- run tello controller node -->
  <node pkg="tello_ai_ros" 
        type="tello_controller.py" 
        name="tello_controller" 
        args="$(arg view) $(arg detection)"
        output="screen" >
        <rosparam command="load" file="$(find tello_ai_ros)/config/tello.yaml" />
  </node>

</launch>
